@model IEnumerable<YelpApp.Models.Review>

@{
    ViewBag.Title = "Reviews";
}

<h2>Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Business_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Business_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Review_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Review_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Review_ID })
        </td>
    </tr>
}

</table>
